---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1584314232'
      Etag:
      - W/"48fee958640e77f92b1d70968f1ab91cf26bdfa7"
      Last-Modified:
      - Sun, 15 Mar 2020 21:04:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"post.md","path":"post.md","sha":"3c612584217e21ae00d532a86e0e35685131dbba","size":23,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/post.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/post.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/3c612584217e21ae00d532a86e0e35685131dbba","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/post.md","type":"file","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/post.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/3c612584217e21ae00d532a86e0e35685131dbba","html":"https://github.com/pawelpacana/test-source/blob/master/post.md"}}]'
  recorded_at: Sun, 15 Mar 2020 22:35:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/post.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1584314231'
      Etag:
      - W/"3c612584217e21ae00d532a86e0e35685131dbba"
      Last-Modified:
      - Sun, 15 Mar 2020 21:03:20 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"post.md","path":"post.md","sha":"3c612584217e21ae00d532a86e0e35685131dbba","size":23,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/post.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/post.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/3c612584217e21ae00d532a86e0e35685131dbba","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/post.md","type":"file","content":"IyBUaXRsZQoKU29tZSBjb250ZW50Lgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/post.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/3c612584217e21ae00d532a86e0e35685131dbba","html":"https://github.com/pawelpacana/test-source/blob/master/post.md"}}'
  recorded_at: Sun, 15 Mar 2020 22:35:59 GMT
[...]
