---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1584493425'
      Etag:
      - W/"6a160a5df8f640c08743946697b55ce404c6188f"
      Last-Modified:
      - Wed, 18 Mar 2020 00:27:51 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"README.md","path":"README.md","sha":"a84526372206fe45705a4096088c2a89c0be0fc4","size":80,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/README.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/README.md","type":"file","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","html":"https://github.com/pawelpacana/test-source/blob/master/README.md"}},{"name":"posts","path":"posts","sha":"d728afdeac1740ddfc4dcdd658ef6ce600edfb59","size":0,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/posts?ref=master","html_url":"https://github.com/pawelpacana/test-source/tree/master/posts","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/trees/d728afdeac1740ddfc4dcdd658ef6ce600edfb59","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/posts?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/trees/d728afdeac1740ddfc4dcdd658ef6ce600edfb59","html":"https://github.com/pawelpacana/test-source/tree/master/posts"}}]'
  recorded_at: Wed, 18 Mar 2020 00:27:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Reset:
      - '1584493426'
      Etag:
      - W/"a84526372206fe45705a4096088c2a89c0be0fc4"
      Last-Modified:
      - Wed, 18 Mar 2020 00:27:49 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"README.md","path":"README.md","sha":"a84526372206fe45705a4096088c2a89c0be0fc4","size":80,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/README.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/README.md","type":"file","content":"U2FtcGxlIGNvbnRlbnQgZm9yIFtuYW5vYy1naXRodWJdKGh0dHBzOi8vZ2l0\naHViLmNvbS9wYXdlbHBhY2FuYS9uYW5vYy1naXRodWIpLgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","html":"https://github.com/pawelpacana/test-source/blob/master/README.md"}}'
  recorded_at: Wed, 18 Mar 2020 00:28:00 GMT
[...]
