---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1584493425'
      Etag:
      - W/"4909ebb1d8da298f252a2c8987c818e45d53bcf1"
      Last-Modified:
      - Tue, 17 Mar 2020 23:57:23 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"README.md","path":"README.md","sha":"a84526372206fe45705a4096088c2a89c0be0fc4","size":80,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/README.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/README.md","type":"file","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","html":"https://github.com/pawelpacana/test-source/blob/master/README.md"}},{"name":"posts","path":"posts","sha":"48fee958640e77f92b1d70968f1ab91cf26bdfa7","size":0,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/posts?ref=master","html_url":"https://github.com/pawelpacana/test-source/tree/master/posts","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/trees/48fee958640e77f92b1d70968f1ab91cf26bdfa7","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/posts?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/trees/48fee958640e77f92b1d70968f1ab91cf26bdfa7","html":"https://github.com/pawelpacana/test-source/tree/master/posts"}}]'
  recorded_at: Wed, 18 Mar 2020 00:07:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pawelpacana/test-source/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1584493425'
      Etag:
      - W/"a84526372206fe45705a4096088c2a89c0be0fc4"
      Last-Modified:
      - Tue, 17 Mar 2020 23:57:21 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"README.md","path":"README.md","sha":"a84526372206fe45705a4096088c2a89c0be0fc4","size":80,"url":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","html_url":"https://github.com/pawelpacana/test-source/blob/master/README.md","git_url":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","download_url":"https://raw.githubusercontent.com/pawelpacana/test-source/master/README.md","type":"file","content":"U2FtcGxlIGNvbnRlbnQgZm9yIFtuYW5vYy1naXRodWJdKGh0dHBzOi8vZ2l0\naHViLmNvbS9wYXdlbHBhY2FuYS9uYW5vYy1naXRodWIpLgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pawelpacana/test-source/contents/README.md?ref=master","git":"https://api.github.com/repos/pawelpacana/test-source/git/blobs/a84526372206fe45705a4096088c2a89c0be0fc4","html":"https://github.com/pawelpacana/test-source/blob/master/README.md"}}'
  recorded_at: Wed, 18 Mar 2020 00:07:29 GMT
[...]
